body{
    background-color: aqua;
   
    
}

li {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    margin-right: 1000px;
    text-align: center;

}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.item {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    width: 100px;
}